html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.place-picker-container {
  padding: 20px;
}

.home-container {
  text-align: center;
  padding: 20px;
}

.logo {
  width: 150px;
  margin: 20px auto;
}

.welcome-text {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: bold;
 
  font-size: 1.5rem;
  margin: 20px 0;
}

.location-inputs {
  margin: 20px 0;
}

.ion-item {
  --background: #f4f0f0;
  margin-top: 12px;
  border-radius: 50px;
}

ion-input {
  --background: transparent;
  --border-color: #9473B5;
  --color: #000000;
}

ion-button {
  border-radius: 50px;
}

ion-button[color="primary"] {
  --background: #9473B5;
  --color: white;
  --border-color: #824dcc;
  --hover-background: #5A2A9B;
  --active-background: #6A4F9A;
}

.footer {
  margin-top: 30px;
}

.footer a {
  color: #9473B5;
  text-decoration: none;
}

.footer a:hover {
  text-decoration: underline;
}

.header-image {
  width: 40%;
  height: auto;
}

.header-image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}
ion-item {
  --background: #ffffff;
  margin-top: 12px;
  border-radius: 50px;
}

.custom-button {
  --background: #9473B5;
  --color: white;
  --border-color: #824dcc;
  --background-hover: #5A2A9B;
  --background-activated: #6A4F9A;
  --background-focused: #6A4F9A;

  &.ion-color-primary {
    --ion-color-primary: #9473B5;
    --ion-color-primary-rgb: 148,115,181;
    --ion-color-primary-contrast: #ffffff;
    --ion-color-primary-contrast-rgb: 255,255,255;
    --ion-color-primary-shade: #8265a0;
    --ion-color-primary-tint: #9f81bc;
  }

  &.button-solid {
    --background-activated: #6A4F9A;
    --background-focused: #6A4F9A;
    --background-hover: #5A2A9B;
    --color-activated: white;
    --color-focused: white;
  }


  .ios & {
    --background: #141414;
    --background-activated: #6A4F9A;
    --background-focused: #6A4F9A;
    --background-hover: #5A2A9B;
    --color-activated: white;
    --color-focused: white;
  }
}