<ion-header>
  <ion-toolbar>
    <ion-back-button fill="clear" slot="start"></ion-back-button>
    <ion-title>Crear viaje</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content id="main-content">
  <ion-content class="ion-padding">
    <div class="home-container">
      <ion-img src="assets/img/logo-tllevo.png" class="logo"></ion-img>
      <h2 class="welcome-text">Configura tu viaje</h2>
      <br>

      <div class="location-inputs">
        
        <ion-item class="input-item">
          <ion-input #origenInput class="input-bordered" [(ngModel)]="origen" placeholder="Origen"></ion-input>
        </ion-item>

        
        <ion-item>
          <ion-input #destinoInput class="input-bordered" [(ngModel)]="destino" placeholder="Destino"></ion-input>
        </ion-item>

       
        <ion-item>
          <ion-input class="input-bordered" [(ngModel)]="tarifa" placeholder="Ingrese tarifa" type="number"></ion-input>
        </ion-item>

      
        <ion-item>
          <ion-input class="input-bordered" [(ngModel)]="detalles" placeholder="Detalles"></ion-input>
        </ion-item>
      </div>

      <ion-button 
        expand="block" 
        (click)="guardarViaje()">
        Guardar
      </ion-button>
    </div>
  </ion-content>
</ion-content>
